passenger_env_var SECRET_KEY_BASE '{{ app_secret_key_base }}';
passenger_env_var POSTGRES_PASSWORD '{{ app_pg_password }}';
passenger_env_var ADMIN_PASSWORD '{{ app_admin_password }}';
passenger_env_var RAILS_ENV '{{ app_rails_env }}';
