# Ansible Config
export ANSIBLE_REMOTE_USER=`whoami`
export PATH=./bin:$PATH

# Postfix Relay config
export POSTFIX_RELAY_HOST=
export POSTFIX_RELAY_PORT=
export POSTFIX_RELAY_USER=
export POSTFIX_RELAY_PASSWORD=

# Aris setup config
export ARIS_SETUP_PUB_SSH_KEY=

# Aris Cron-Service Config
export ARIS_POSTGRES_LOGIN=aris
export ARIS_POSTGRES_PASSWORD=

# Rails Web-UI Configuration
export APP_SECRET_KEY_BASE=
export APP_DEVISE_PEPPER=
export APP_POSTGRES_PASSWORD=
export APP_ADMIN_PASSWORD=
export APP_SENDGRID_USER=
export APP_SENDGRID_PASSWORD=
export APP_SKYLIGHT_AUTHENTICATION=

# Papertrail config
export PAPERTRAIL_HOST=
export PAPERTRAIL_PORT=

# Jenkins config
export JENKINS_USER_PASSWORD=
export JENKINS_ADMIN_EMAIL=
export JENKINS_MAILER_SMTP_AUTH_USERNAME=
export JENKINS_MAILER_SMTP_AUTH_PASSWORD=
export JENKINS_MAILER_REPLY_TO=
export JENKINS_MAILER_SMTP_HOST=
