server {
    listen 80;
    server_name __SERVER_NAME__;

    # Tell Nginx and Passenger where your app's 'public' directory is
    root __APP_PUBLIC_PATH__;

    # Turn on Passenger
    passenger_enabled on;
    passenger_ruby __RUBY_PATH__;
}
