---
- name: Install basic tools
  apt: name={{item}} state=installed update_cache=yes
  with_items:
    - git-core
    - htop
    - tmux
    - vim
    - wget
    - curl
    - gnupg
    - tree
    - build-essential

