[Unit]
Description=Reveal.js slide server

[Service]
ExecStart=/usr/local/bin/node /var/apps/revealjs/code/plugin/notes-server

[Install]
WantedBy=multi-user.target
