server {
    listen 80;
    server_name {{ item.key }}.aristoteles.f4.htw-berlin.de {{ item.key }}.htw-webtech.igelmund.info {{ item.key }}.htw-webtech.dev;

    # Tell Nginx and Passenger where your app's 'public' directory is
    root /var/apps/{{ item.key }}/public;

    # Include all user-app-specific conf files
    include /var/apps/{{ item.key }}/nginx/extras/*.conf;

    access_log /var/apps/{{ item.key }}/logs/nginx-access.log;
    error_log  /var/apps/{{ item.key }}/logs/nginx-error.log;

    # Passenger config
    passenger_enabled on;
    passenger_app_root /var/apps/{{ item.key }}/code;
    passenger_ruby /opt/rubies/{{ chruby_ruby_version }}/bin/ruby;
}
