server {
  listen 80;
  server_name {{ item.key }}.{{ base_domain }};

  root /var/apps/{{ item.key }}/code;

  # Serve default/index.html if no index.html is present in /code
  location = / {
    root /var/apps/{{ item.key }};
    try_files /code/$uri/index.html /default/index.html =404;
  }

  access_log /var/apps/{{ item.key }}/logs/nginx-access.log;
  error_log  /var/apps/{{ item.key }}/logs/nginx-error.log;
}
