---
- apt:
    name={{ item }}
    state=installed
  with_items:
    - cmake
    - pkg-config

# FIXME: Insallation does not provide ginatra bin in GEM_PATH
# Installed manually now.
- gem:
    name=ginatra
    state=present
    user_install=no
    version=4.1.0
    executable=/opt/rubies/{{ chruby_ruby_version }}/bin/gem

- file:
    state=directory
    path=/var/apps/ginatra/nginx/logs
    recurse=yes

- file:
    state=directory
    dest=/root/.ginatra

- copy:
    src=ginatra/config.yml
    dest=/root/.ginatra/config.yml

# - copy:
#     src=systemd/ginatra.service
#     dest=/var/apps/ginatra/ginatra.service

# - file:
#     state=link
#     src=/var/apps/ginatra/ginatra.service
#     dest=/etc/systemd/system/ginatra.service
#   register: ginatra_service
#
# - shell: >
#     systemctl start ginatra && systemctl daemon-reload
#   when: ginatra_service.changed

- copy:
    src=nginx/ginatra-vhost.conf
    dest=/var/apps/ginatra/nginx/vhost.conf
    owner={{ ansible_ssh_user }}
    group={{ ansible_ssh_user }}

- file:
    state=link
    src=/var/apps/ginatra/nginx/vhost.conf
    dest=/etc/nginx/sites-enabled/ginatra.conf
  notify: reload nginx
