---
- name: Install apt key for jenkins pgk repository
  apt_key:
    url=http://pkg.jenkins-ci.org/debian/jenkins-ci.org.key
    state=present

- name: Add the jenkins pkg repository
  apt_repository:
    repo='deb http://pkg.jenkins-ci.org/debian binary/'
    state=present
    update_cache=yes

- name: Install the jenkins package
  apt:
    name=jenkins
    state=present

- name: Ensure Jenkins is started and runs on startup.
  service:
    name=jenkins
    state=started
    enabled=yes

- name: Ensure the jenkins home dir exists
  file:
    state=directory
    path=/opt/jenkins
    mode=0755

- name: Wait for Jenkins to start up before proceeding.
  shell: 'curl -D - --silent http://localhost:8080/cli/'
  register: result
  until: (result.stdout.find("200 OK") != -1) and (result.stdout.find("Please wait while") == -1)
  retries: 10
  delay: 5
  changed_when: false
