---
- include: 10-install-jenkins.yml        tags=jenkins,install
- include: 20-configure-jenkins.yml      tags=jenkins,configuration
- include: 30-configure-nginx-proxy.yml  tags=jenkins,nginx
- include: 40-enable-jenkins-cron.yml    tags=jenkins,ansible-cron
