passenger_env_var ADMIN_APP_PUB_SSH_KEY='{{ app_admin_pub_ssh_key }}';
passenger_env_var ADMIN_APP_POSTGRES_DATABASE_NAME='{{ app_pg_database }}';
passenger_env_var ADMIN_APP_POSTGRES_LOGIN='{{ app_pg_login }}';
passenger_env_var ADMIN_APP_POSTGRES_PASSWORD='{{ app_pg_password }}';
passenger_env_var ADMIN_EMAIL='{{ app_admin_email }}';
passenger_env_var ADMIN_PUB_SSH_KEY='{{ app_admin_pub_ssh_key }}';
passenger_env_var ADMIN_PASSWORD='{{ app_admin_password }}';
