---
- shell: >
    test -e /opt/aris/config/jenkins_jobs.yml && mv /opt/aris/config/jenkins_jobs.yml /opt/aris/config/jenkins_jobs.processing.yml; true

- stat:
    path=/opt/aris/config/jenkings_jobs.processing.yml
  register: jenkins_file

- fail:
    msg="No new jenkins jobs found"
  when: jenkins_file.stat.exists == false

- include_vars: /opt/aris/config/jenkins_jobs.processing.yml

