---
- name: Create job dir
  file:
    state=directory
    path=/var/lib/jenkins/jobs/{{ item.key }}
    owner=jenkins
    group=jenkins
    mode=0755
  with_dict: jenkins_jobs

- name: Create config for job
  template:
    src=job-config.xml.j2
    dest=/var/lib/jenkins/jobs/{{ item.key }}/config.xml
    owner=jenkins
    group=jenkins
    mode=0644
    force=yes
  with_dict: jenkins_jobs

- name: Reload jenkins configuration
  sudo: no
  become_user: jenkins
  command: >
    java -jar /opt/jenkins/cli.jar -s http://localhost:8080/ reload-configuration
  with_dict: jenkins_jobs

