server {
  listen 80;
  server_name revealjs.{{ base_domain }};

  access_log /var/apps/revealjs/logs/nginx-access.log;
  error_log  /var/apps/revealjs/logs/nginx-error.log;

  location / {
    proxy_pass http://localhost:1947/;
  }
}
