---
- name: Fetch aris-web-ui configuration from env
  set_fact:
    app_admin_password: "{{ lookup('env','APP_ADMIN_PASSWORD') }}"
    app_secret_key_base: "{{ lookup('env','APP_SECRET_KEY_BASE') }}"
    app_pg_password: "{{ lookup('env','APP_POSTGRES_PASSWORD') }}"

- name: Create admin os user account (with full shell access)
  user:
    name=admin
    createhome=yes
    shell=/bin/bash
    append=yes
    groups=ssh-clients,aris
    state=present

- name: Install aris-control gem
  gem:
    name=aris-control
    state=latest
    user_install=no
    executable=/opt/rubies/{{ chruby_ruby_version }}/bin/gem

- set_fact:
    aris_apps:
      admin:
        ssh_key: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDSoUnD2zl5fKZlndTi6gABTZOzT8gJ6y6dwbq+TwNuW5TjNTSM8KoBOiiFXPrRbCEGWsk8s+wfZXoD1oATjV2sTfHy8xOQ5ev93LtahKnBZ61A2iORNDd1S+MIs7mU9a/dNEMu9NJmPcLekzXLai5hzBwRDHu9Ny5P+TA9lC+M9V0NMasiIjPuSDmLla1aMWJhtZyrGfCG2AiPeWJjZdvFM0S8dZ8LhNGE7cN6m6GqNBxyqQeS9CFsrca7Dn/2PybJxbGHt0rZMK59lybEB6XKDoI01Xzr3OuyFRwzYdStzIfMP5tJO80JAl/gjPBnleGU3WWOZu7l1DbfcG5rr6fN gregoryigelmund@Gregorys-MacBook-Pro.local'
        env_vars:
          rails_env: 'staging'

- debug:
    var=aris_apps

- include: ../../aris-cron/tasks/01-create-user-apps.yml

- template:
    src=aris/nginx/default_env_vars.conf.j2
    dest=/var/apps/admin/nginx/extras/default_env_vars.conf
    owner=admin
    group=admin

- template:
    src=aris/rails/.env.j2
    dest=/var/apps/admin/code/.env
    owner=admin
    group=admin
