---
- set_fact:
    app_admin_password: "{{ lookup('env','APP_ADMIN_PASSWORD') }}"
    app_secret_key_base: "{{ lookup('env','APP_SECRET_KEY_BASE') }}"
    app_pg_password: "{{ lookup('env','APP_POSTGRES_PASSWORD') }}"
    app_sendgrid_user: "{{ lookup('env','APP_SENDGRID_USER') }}"
    app_sendgrid_password: "{{ lookup('env','APP_SENDGRID_PASSWORD') }}"
    app_skylight_authentication: "{{ lookup('env','APP_SKYLIGHT_AUTHENTICATION') }}"
    app_rails_env: "{{ rails_env }}"

- user:
    name=admin
    createhome=yes
    shell=/bin/bash
    append=yes
    groups=ssh-clients,aris
    state=present

- file:
    path=~admin/.ssh
    state=directory
    owner=admin
    group=admin
    mode=u=rwx,g=rx,o=

- template:
    src=ssh/authorized_keys.j2
    dest=~admin/.ssh/authorized_keys
    owner=admin
    group=admin
    mode=u=rw,g=r,o=

- gem:
    name=aris-control
    state=present
    user_install=no
    executable=/opt/rubies/{{ chruby_ruby_version }}/bin/gem

# Fact is used for app create process
- set_fact:
    aris_apps:
      admin:
        env_vars:

- include: ../../aris-cron/tasks/20-app-access-to-chruby.yml
- include: ../../aris-cron/tasks/40-app-skeleton.yml
- include: ../../aris-cron/tasks/30-postgres-account-and-database.yml
- include: ../../aris-cron/tasks/50-app-git-config.yml
- include: ../../aris-cron/tasks/60-app-access-to-env-vars.yml
- include: ../../aris-cron/tasks/70-nginx-passenger-config.yml
- include: ../../aris-cron/tasks/80-update-app-status.yml

- template:
    src=aris/rails/.env.j2
    dest=/var/apps/admin/code/.env
    owner=admin
    group=admin
