---
- name: Add postgres user to ssh-clients group for ssh access
  user:
    name=postgres
    groups=ssh-clients
    append=yes

- name: Create .ssh dir for postgres user
  file:
    path=~postgres/.ssh
    state=directory
    owner=postgres
    group=postgres
    mode=u=rwx,g=rx,o=

- name: Enable ssh access to postgres user via public ssh key
  template:
    src=ssh/postgres-user.authorized_keys.j2
    dest=~postgres/.ssh/authorized_keys
    owner=postgres
    group=postgres
    mode=u=rw,g=r,o=

