---
- template:
    src=aris/postgres/.pgpass.j2
    dest=/home/aris/.pgpass
    mode=0600

- cron:
    name="Aris service"
    minute='*/5'
    job="cd /opt/aris/code/ansible && /opt/ansible/code/bin/ansible-playbook ./playbooks/aris-cron.yml -i ./inventories/local.ini"
    user=aris
    state=present
    backup=yes

- lineinfile:
    dest=/var/spool/cron/crontabs/aris
    line='MAILTO=aris-cron@grekko.de'
    insertbefore=BOF
