files:
  - /var/log/syslog
  - /var/log/auth.log
  - /var/apps/admin/logs/*.log
  - /opt/aris/logs/*.log
destination:
  host: {{ remote_syslog_host }}
  port: {{ remote_syslog_port }}
  protocol: tls

