#!/bin/bash
# Reset local changes
cd ..
unset GIT_DIR GIT_WORK_TREE
git reset --hard
git checkout .

# HTML only app support
rm -rf /var/apps/{{ item.key }}/public
ln -sf /var/apps/{{ item.key }}/code /var/apps/{{ item.key }}/public

