#!/bin/bash
# Reset local changes
cd ..
unset GIT_DIR GIT_WORK_TREE
git reset --hard
git checkout .

# HTML only app support
rm -rf /var/apps/{{ item.key }}/public
ln -sf /var/apps/{{ item.key }}/code /var/apps/{{ item.key }}/public

# CURL jenkins after a successful push to re-run the tests
curl 'http://jenkins.htw-webtech.com/job/{{ item.key }}/build?delay=0sec' -X POST > /dev/null
echo "Jenkins build has been triggered to re-run tests."
