# Depends on ansible-setup!
---
- name: Ensure aris user exists
  user:
    name=aris
    createhome=yes
    shell=/bin/bash
    state=present

- name: Ensure remote_user belongs to the aris group
  user:
    name={{ ansible_ssh_user }}
    append=yes
    groups=aris

- name: Ensure aris user has sudoers rights
  copy:
    src=aris-sudoers-file
    dest=/etc/sudoers.d/aris
    mode=u=rw,g=r,o=

- name: Configure .bashrc for aris user to source /opt/ansible/code/hacking/env-setup for anible access
  lineinfile:
    dest=/home/aris/.bashrc
    line='source /opt/ansible/code/hacking/env-setup -q'

- name: Load chruby in ~/.bashrc
  lineinfile:
    line='source /usr/local/share/chruby/chruby.sh'
    dest=~aris/.bashrc

- name: Load chrubys auto.sh in ~/.bashrc
  lineinfile:
    line='source /usr/local/share/chruby/auto.sh'
    dest=~aris/.bashrc

- name: Load default configured ruby version in .bashrc
  lineinfile:
    line='source ~/.bashrc.ruby-version'
    dest=~aris/.bashrc

- name: Enable default ruby {{ chruby_ruby_version }} via ~/.bashrc.ruby-version file
  template:
    src=aris/.bashrc.ruby-version
    dest=~aris/.bashrc.ruby-version

- name: Configure .bashrc for aris user to source /opt/ansible/code/hacking/env-setup for anible access
  lineinfile:
    dest=/home/aris/.bashrc
    line='source /opt/ansible/code/hacking/env-setup -q'

- name: Ensure aris app (and config) directory exists
  file:
    path={{ item }}
    state=directory
    owner=aris
    group=aris
    mode=u=rwx,g=rwx,o=r
  with_items:
    - /opt/aris/config
    - /opt/aris/code
    - /opt/aris/logs

- name: Copies ansible.cfg to /opt/aris/config/aris.cfg if none exists yet
  copy:
    src=aris/aris.cfg
    dest=/opt/aris/config/aris.cfg
    owner=aris
    group=aris
    force=no

- name: Copies private key for access to aris github repository
  copy:
    src=github-access/key
    dest=/opt/aris/config/key
    owner=aris
    group=aris
    mode=u=r,g=,o=

- name: Checkout the aris ansible repo
  git:
    key_file=/opt/aris/config/key
    accept_hostkey=true
    repo=git@github.com:grekko/htw.aris-secret.git
    dest=/opt/aris/code/ansible
    update=yes
    version=HEAD

- name: Setup crontab for aris user-management background service
  cron:
    name="Aris service"
    minute=*
    job="cd /opt/aris/code/ansible && /opt/ansible/code/bin/ansible-playbook ./playbooks/aris-cron.yml -i ./inventories/local.ini > /opt/aris/logs/ansible.log"
    user=aris
    state=present
