---
- name: Install postgresql
  apt:
    name={{ item }}
    state=present
    update_cache=true
  with_items:
    - postgresql-9.4
    - postgresql-server-dev-9.4
    - postgresql-client-9.4

- name: Install python module for ansible postgres commands (depends on postgres headers)
  easy_install:
    name=psycopg2

- name: Copy authentication configuration file to /etc/postgresql/9.4/main/pg_hba.conf
  copy:
    src=postgres/pg_hba.conf
    dest=/etc/postgresql/9.4/main/pg_hba.conf
    owner=postgres
    group=postgres
    mode=u=rw,g=r,o=r
  notify: restart postgresql

- name: Add postgres user to ssh-clients group for ssh access
  user:
    name=postgres
    groups=ssh-clients
    append=yes

- name: Create .ssh dir for postgres user
  file:
    path=~postgres/.ssh
    state=directory
    owner=postgres
    group=postgres
    mode=u=rwx,g=rx,o=

- name: Enable ssh access to postgres user via my pub key
  copy:
    src=ssh/igelmund.pub
    dest=~postgres/.ssh/authorized_keys
    owner=postgres
    group=postgres
    mode=u=rw,g=r,o=

- name: Ensure aris database exists
  remote_user: postgres
  sudo: no
  postgresql_db:
    name=aris

# FIXME: aris password should never be exposed
# FIXME: on Production this uses user `local` instead of `posgres`
# FIXME: I had to delete AllowUsers on prod aris server to make this work
- name: Ensure aris user has access to aris database
  remote_user: postgres
  sudo: no
  postgresql_user:
    db=aris
    name=aris
    password=aris
    priv=ALL
    role_attr_flags=SUPERUSER
