---
- name: Install sqlite header files
  apt:
    name=libsqlite3-dev
    state=installed

- name: Install system-wide gems
  gem:
    name={{ item }}
    executable=/opt/rubies/{{ chruby_ruby_version }}/bin/gem
  with_items:
    - bundler
    - rails
    - sqlite3
    - sass-rails
    - uglifier
    - coffee-rails
    - therubyracer
    - jquery-rails
    - turbolinks
    - web-console

# FIXME: This belongs somewhere else
- name: Allow read access to rubies and gems in /opt/rubies
  file:
    path=/opt/rubies
    mode=ug=rwx,o=rx
    recurse=yes
