---
- name: Ensure OS user account exists (access to git-shell limited)
  user:
    name={{ item.key }}
    createhome=yes
    shell=/usr/bin/git-shell
    state=present
    groups=ssh-clients
    append=yes
  with_dict: "{{ aris_apps }}"

- name: Create .ssh dir for users
  file:
    path=~{{ item.key }}/.ssh
    state=directory
    owner={{ item.key }}
    group={{ item.key }}
    mode=u=rx,g=,o=
  with_dict: "{{ aris_apps }}"

- name: Configure public ssh keys appears in users .ssh/authorized-keys
  lineinfile:
    line="{{ item.value.ssh_key }}"
    dest=~{{ item.key }}/.ssh/authorized_keys
    owner={{ item.key }}
    group={{ item.key }}
    mode=u=rx,g=,o=
    state=present
    create=yes
  when: item.value.ssh_key is defined
  with_dict: "{{ aris_apps }}"
