---
# FIXME: Do they really NEED to create a db!? Truncating should be enough, no?
- name: Create a postgres user
  postgresql_user:
    login_user=aris
    login_password=aris
    user={{ item.key }}
    encrypted=no
    password={{ item.value.env_vars['PG_PASSWORD'] }}
    role_attr_flags=NOSUPERUSER,CREATEDB
  when: item.value.env_vars['PG_PASSWORD'] is defined
  with_dict: "{{ aris_apps }}"

- name: Create a postgres db for the user
  postgresql_db:
    login_user=aris
    login_password=aris
    name={{ item.key }}
    owner={{ item.key }}
    encoding='UTF-8'
    state=present
  when: item.value.env_vars['PG_PASSWORD'] is defined
  with_dict: "{{ aris_apps }}"
