---
- name: Set facts for aris_pg_login and aris_pg_password
  set_fact:
    aris_pg_login: "{{ lookup('env', 'ARIS_POSTGRES_LOGIN') }}"
    aris_pg_password: "{{ lookup('env', 'ARIS_POSTGRES_PASSWORD') }}"

- name: Create a postgres user
  postgresql_user:
    login_user={{ aris_pg_login }}
    login_password={{ aris_pg_password }}
    user={{ item.key }}
    password={{ item.value.env_vars['POSTGRES_PASSWORD'] }}
    encrypted=no
    role_attr_flags=NOSUPERUSER
    state=present
  when: item.value.env_vars['POSTGRES_PASSWORD'] is defined
  with_dict: "{{ aris_apps }}"

- name: Create a postgres db for the user
  postgresql_db:
    login_user={{ aris_pg_login }}
    login_password={{ aris_pg_password }}
    name={{ item.key }}
    owner={{ item.key }}
    encoding='UTF-8'
    state=present
  when: item.value.env_vars['POSTGRES_PASSWORD'] is defined
  with_dict: "{{ aris_apps }}"
