---
- name: Initialize empty git repository with basic config if not existant
  shell: stat .git || git init && git config receive.denyCurrentBranch ignore
    chdir=/var/apps/{{ item.key }}/code
  with_dict: "{{ aris_users }}"

- name: Configure proper git post-update hook
  template:
    src=git-hooks/post-update
    dest=/var/apps/{{ item.key }}/code/.git/hooks/post-update
    owner={{ item.key }}
    group={{ item.key }}
    mode=ug+rwx,o=xr
  with_dict: "{{ aris_users }}"

- name: Configure proper git post-receive hook (which runs `git reset --hard after` after push)
  template:
    src=git-hooks/post-receive
    dest=/var/apps/{{ item.key }}/code/.git/hooks/post-receive
    owner={{ item.key }}
    group={{ item.key }}
    mode=ug+rwx,o=xr
  with_dict: "{{ aris_users }}"

